.input-group {
  display: flex;
  width: 100%;
}

.input-group .icon {
  border: .1em solid gray;
  display: flex;
  padding: .25em;
  cursor: pointer;
  transition: .35s;
  border-radius: .0em .0 0 0;
}

.path-input {
  all: unset;
  width: 100%;
  padding-left: .25em;
  border: .1em solid gray;
  border-left: none;
  border-radius: 0 .5em 0 0;
}

.file-tree-result {
  border: .1em solid gray;
  border-top: none;
  border-radius: 0 0 .5em .5em;
  padding: .25em;
  height: 300px;
  overflow: auto;
}

.folder > * {
  margin-left: 2em;
}