.stepper-container {
  max-width: 1024px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stepper-steps {
  padding: 1.5em;
}

.stepper-children {
  flex: 1;
}

.stepper-buttons {
  display: flex;
  justify-content: space-around;
  padding: .5em;
}